<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash-messages">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username") }}
            {{ form.password(placeholder="Password") }}
            {{ form.submit }}
        </form>

        <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
    </div>

</body>

</html>
